<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<title>
		Teste 128Bits
	</title>	
  	
</head>

<body>  
<br>
<br>
<div class="col-md-2"></div>
<div class="col-md-8">

	<div>		
		<a href="./" class="separator link">Home</a>
	</div>
	
	<div class="page-header">
		<h1>Teste 128Bits - Descrição do teste.</h1>
	</div>
	
	<!-- Example Tables Card -->
	<div class="card mb-3">
	    
	    <div class="card-block">	    
	    	
	    	<div class="well">
				<strong>Descrição:</strong><br>
				<span>Você deverá criar um sistema de busca que se aproxime o máximo das
				especificações e instruções abaixo:</span>
				<br>

				<ul>
					<li>
						<span>1 - Primeiramente, deverá ser criado um modelo. Um modelo base que terá dois atributos, 1 inteiro e um de texto.</span>
					</li>
					
					<br>
					<li>
						2 - Deverá ser criado um CRUD utilizando as Class-Based Views do Django. (OK)
						Sendo assim será possível listar os items (paginada por 100 items) do modelo base,(ok)
						criar novos items, deletar items assim como atualizá-los.(OK)
					</li>
					
					<br>					
					<li>
						3 - Deverá haver um campo de busca com "autocomplete" no topo. Quando o usuário
						digitar 3 letras deverá ser trazido no "autocomplete" os items com esses
						caracteres dispostos consecutivamente no campo de texto. Exemplo de biblioteca:(django_selectable, )
					</li>

					<br>
					<li>
						4 - Os valores inteiros deverão ser gerados randomicamente. Já os valores de texto
						deverão ser obtidos através da api (http://api.randomuser.me/).
					</li>

					<br>
					<li>
						5 - O código deverá ser disposto no Github.(<strong>link GitHub:</strong> - https://github.com/tiagoyuga/projetos_python.git)
					</li>

					<br>
					<li>
						6 - BONUS: Provisionar um servidor (Amazon/Heroku/DigitalOcean) e realizar o deploy*.
					</li>
					
				</ul>

				<strong>Prazo: 72 horas</strong>
				<br>
				
				<strong>Início:</strong> 23/05/017 - (Aproximadamente ás 17 horas)
				<br>

				<strong>Data Limite:</strong> 26/05/017 - (Aproximadamente ás 17 horas)
				<br>
			</div>

	    </div>
	            
	</div>
</div>

<div class="col-md-2"></div>
<br>
<br>
<br>
<br>
<hr>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
